[2014-05-28 00:58] christav opened #7 "Potential race condition in token refresh"
Looking at the code in cache-driver.js, starting at line 301:

[code]

It's checking to see if the token is expired by comparing against the exact expiration date. This opens users up to a rare but impossible to debug race condition - if the token expires between the time this check passes and the time it actually goes out over the wire requests will fail with an expired token.

This should be che

[2014-05-28 01:14] christav opened #8 "acquireToken gives bad error message on cache miss"
When calling `authenticationContext.acquireToken(resource, userid, clientid, callback)` with a token cache specified, if there's a cache miss (say the underlying cached data was deleted by the user), you get a "Error: cannot read property 'accessToken' of undefined" exception down in the bowels of adal.

In this case it should instead throw a specific well defined "No cached tokens found" error or

[2014-06-07 00:42] #7 closed, assigned to brandwe

[2014-06-07 00:42] #8 closed, assigned to brandwe

[2014-08-22 23:12] yugangw-msft opened #13 ""AuthenticationContext.prototype.acquireTokenWithClientCredentials" should support token cache"

[2014-09-08 22:18] christav opened #15 "Calling context.acquireTokenWithClientCredentials with null username doesn't trigger callback"
Call context.acquireTokenWithClientCredentials, passing null for the username (but passing a valid resource and password).

Expected to get the callback invoked with an error. Instead the callback is never invoked and the app just hangs.

[2014-09-09 23:13] RandalliLama opened #16 "ADAL should provide better errors when the authority is provided as http rather than https."
From another email thread asking for feedback.

"The most actionable was that there was no clear error message when trying to authenticate using localhost over HTTP (http://localhost:3000) vs HTTPS; errors about invalid authorization grant, etc. It took a “I’m a big idiot” moment to flip on SSL and watch everything work."

[2014-10-29 23:29] #13 closed, assigned to nobody

[2014-10-31 20:49] RandalliLama opened #22 "ADAL needs a method that allows confidential clients to acquire a new token via a refresh token."
The function acquireTokenWithRefreshToken does not work for confidential clients since it doesn't take a client secret.  We need to add that method.

I will try to get to this in the next couple of weeks.

[2014-11-17 19:48] ghost opened #23 "Federated login page looks like not taking login_hint."
We are using AuthenticationContext.acquireAccessToken with proper login hint. Still the auth UI page does not show username. Impact is that user needs to feed in email address again.

Repro steps:
1. Install Office
2. Enter office365.test6@ledcor.com in HRD dialog

It shows up ledcor.com's auth UX, but isn't prepopulated with email address that was already entered in HRD dialog

[2014-11-17 19:50] #23 closed, assigned to nobody

[2014-11-20 23:56] #16 closed, assigned to RandalliLama

[2014-11-24 22:37] #22 closed, assigned to RandalliLama

[2014-12-04 20:56] RandalliLama opened #31 "Add timestamp to log entries."
Current log entries do not contain a timestamp.  The ADAL libraries are going to move to a standard log format:

timestamp:correlation-id - ClassOrComponent: description"

so the timestamp needs to be added in order to bring adal-node in to compliance.

[2014-12-13 00:40] #15 closed, assigned to RandalliLama

[2015-01-14 19:49] afshins opened #35 "Add "login.microsoftonline.com" to the white list of valid authorities"

[2015-02-18 18:02] RandalliLama opened #36 "401 challenge should not throw an error if the resource parameter is not contained in the challenge."

[2015-02-20 00:38] RandalliLama commented on #35
Fixed

[2015-02-20 00:38] #35 closed

[2015-02-20 00:38] RandalliLama commented on #36
Fixed and shipped in 0.1.12

[2015-02-20 00:38] #36 closed

[2015-02-20 00:38] RandalliLama commented on #35
Shipped in 0.1.12

[2015-03-04 22:57] amarzavery opened #43 "Make "azure login" error message friendlier"
Please refer this issue filed in xplat cli repo: https://github.com/Azure/azure-xplat-cli/issues/1612

Fix the typo error:

[code]

self._userRealm.AccountType should be self._userRealm.**a**ccountType

[2015-03-09 22:25] amarzavery commented on #43
@RandalliLama -  Can you please look at this issue?

[2015-03-09 23:27] RandalliLama commented on #43
Investigating.  I would never have expected to actually hit that case.

[2015-03-09 23:28] amarzavery commented on #43
@RandalliLama - Thank you

[2015-03-10 00:40] RandalliLama commented on #43
@amarzavery  I'll get a fixed up error message out by the end of the week.  It will read something like "Username and password authentication is not supported for this account.  This usually means that the account is a guest account, either from another tenant or a Microsoft Account."

[2015-03-10 19:12] squillace commented on #43
I have a problem with this. How can a "Microsoft account" be a "guest account"? This does not help any user understand what they are supposed to do....

[2015-03-10 19:25] ahmetalpbalkan commented on #43
@RandalliLama I wonder if we can make this message any more complicated for the end user. The reason this issue is opened because of Azure/azure-xplat-cli#1612.

From AAD end the error might make perfect sense but I am a person using only Azure Storage over Xplat cli and I don't care about AAD terminology like `guest account` `tenant` `Microsoft account`. Please do not give me sentences like that.

[2015-03-13 21:43] RandalliLama opened #44 "The library should return error codes not just displayable strings."
As it stands callers do not have a good way of programmatically reacting to ADAL errors.  This would be remedied if the library returned error codes along with the display string.

[2015-03-13 21:49] RandalliLama commented on #43
@ahmetalpbalkan I think that there are two separate issues in your comment.

I completely agree with your complexity complaint.  This is simply too complicated.  Unfortunately, that isn't going to change in the next month or so.  That means that when the user hits this issue we have to figure out a way to tell them what they can do about it, or at least what is blocking them.  I agree with your co

[2015-03-13 21:53] ahmetalpbalkan commented on #43
@RandalliLama thanks! That sounds great. It appears like we can give more helpful error messages with some links (e.g. https://github.com/Azure/azure-xplat-cli/issues/1614#issuecomment-79415873) in the xplat-cli.

Error code was just an idea to give the caller a way to determine type of the error, I have no idea about node.js so things might be different over there. Thanks again.

[2015-04-21 20:32] ahmetalpbalkan opened #45 "Security: Update jws dependency version"
Package currently depends on `jws@1.x.x`. There's been a security update on that package you should take.

While installing `azure-cli` package, it raises a visible warning saying

    npm WARN deprecated jws@1.0.1: Security update: Versions below 3.0.0 are deprecated.

https://github.com/Azure/azure-xplat-cli/issues/1691

Can you please fix this?

[2015-04-27 17:43] michaeljm opened #46 "When enabling logging for adal-node, the log for the RST request with client creds contains the user's password"
After enabling the log on `adal.Logging` at verbose level and making a token request with `acquireTokenWithClientCredentials`, the log output contains a clear text version of the password.

Look for the following in the logs:
[code]

[2015-04-27 20:52] michaeljm opened #47 "Error messages must be interpreted to know whether credentials were wrong or transport failed"
We're building a feature where there's a secure credential store on the client, from which we get the user name and password to use in the `acquireTokenWithClientCredentials` call. If the user name and password are invalid, we need to revoke them from the store.

Currently, it's not too obvious from the error whether the credentials were bad (e.g. expired, with a typo, etc...) or whether there was

[2015-05-01 22:50] RandalliLama commented on #46
@michaeljm Fixed in v0.1.13
 3a2dcb9

[2015-05-01 22:50] #46 closed

[2015-05-01 22:50] RandalliLama commented on #45
@ahmetalpbalkan fixed in v0.1.13
 3a2dcb9

[2015-05-01 22:50] #45 closed

[2015-05-15 19:17] crwilcox opened #53 "isExpiresWithinTolerance validation not really validating anything"
This function is not very useful as it currently sets the two compared dates to the same object.  My guess is after fixing this your validation might fail also.  Included is what I am doing for the python tests

[code]

This line is going to add to expiresOn and set expectedExpires to the same object:

[code]

Python code for what we are doing instead:

[code]

[2015-05-18 19:33] siacomuzzi opened #55 "Calling to graph api after user authentication"
Hi,

After user is authenticated (`GET /authorize?...`), can I use his JWT (`id_token`) to call the Graph API (`https://graph.windows.net/contoso.onmicrosoft.com/users?api-version=1.0&...`)?

I want to get full user profile (including user groups).

Currently, I'm getting the following error:

#### Response body
[code]

#### Response headers
[code]

Thanks!

[2015-05-27 00:36] #31 closed

[2015-06-11 18:47] qbalin opened #60 "Permission Granting panel does not show up"
Hi, I used [this sample of code][1] for test purposes: I manage to authenticate an account and get back the accessToken, but at no time am I asked to grant a set of permissions, yet my application registered on AzureAd requires a bunch of them.

I even tried to add prompt=consent in the request URL, but then I get an "incorrect request" message...

What am I doing wrong?

[1]: https://github.com/A

[2015-06-15 20:44] brandwe commented on #55
You must use the access token, not the id token.

[2015-06-15 22:56] crwilcox opened #61 "Tests for Cache Driver may have error"
I didn't run the file but I came across the tests for cache driver and on line 93 I noticed:

[code]

my guess is cacheEntries[i] is doing something you don't want.  The length I can go to is the i we are currently on?  This is going to do an odd sort of search.  you probably meant cacheEntries.length

[2015-06-19 20:39] omercs opened #62 "WsTrust request should escape xml chars in password"
Escape xml chars in password before creating a xml request at wstrust-request.js.

[2015-07-14 20:37] devigned commented on #62
I think this is coming up here: https://github.com/Azure/azure-xplat-cli/issues/1918. Any update on this issue?

[2015-07-14 22:55] aj-michael opened #65 "Id token subject identifier field is 'sub', not 'subject'."
When retrieving a userid from an idtoken, one of the fallbacks is the subject field of the idtoken. Per the spec, the field is sub. I also confirmed it against login.windows.net token endpoint.

http://openid.net/specs/openid-connect-core-1_0.html#IDToken

[2015-07-15 19:51] weijjia commented on #62
we've already made the fix. It will be merged.

[2015-07-15 21:58] devigned commented on #62
Thank you, @weijjia. Looking forward to getting this fixed for Azure CLI.

[2015-07-16 01:19] weijjia commented on #65
merged and closed the issue for now.

[2015-07-16 01:19] #65 closed

[2015-07-16 01:20] weijjia commented on #62
The fix has been merged into master.

[2015-07-16 17:45] ahmetalpbalkan commented on #43
I'm still seeing a very unfriendly error message (HTTP 500 XML response spitted out to my console) in `azure login` command with bad credentials. Any plans to fix this?

[2015-07-24 20:48] weijjia opened #68 "support for ws-trust 2005"
It turns out that the default configuration for ADFS doesn't support WS-Trust 1.3 which is the latest version. Instead, it supports an earlier draft version, WS-Trust 2005. We need to look for 1.3 and if it is not present in the MEX, look for WS-Trust 2005 and use that instead.

[2015-07-25 18:40] matejv1 opened #69 "Trying to call O365 APIs in Outlook App (AngularJS, AdalJS) - Error"
![image](https://cloud.githubusercontent.com/assets/255273/8890681/01a4b652-330a-11e5-8091-4647fc43a3de.png)

![image](https://cloud.githubusercontent.com/assets/255273/8890759/2d30f5ea-330c-11e5-8a03-53902f06b61e.png)

outlook-web-16:00.js - Uncaught Sys.ArgumentNullException: Sys.ArgumentNullException: Value cannot be null. Parameter name: conversationId

This is an error that I'm getting when I

[2015-07-26 21:34] #69 closed

[2015-07-26 21:34] matejv1 commented on #69
Ups. Wrong repo. Moved to azure-activedirectory-library-for-js

[2015-07-27 16:40] weijjia commented on #62
fix has been merged and close the issue.

[2015-07-27 16:40] #62 closed

[2015-08-04 16:56] #68 closed

[2015-08-09 22:28] jmspring opened #71 "client-credential cert-bad-cert failing"
108 passing (996ms)
  1 failing

  1) client-credential cert-bad-cert:

[code]

[2015-08-09 23:13] jmspring opened #72 "When using adal-node with azure-xplat-cli, AD http calls do not honor proxy setting"
azure-activedirectory-library-for-nodejs specifies request module version >= 2.9.203.  From the package.json dependencies:  "request": ">= 2.9.203",

when used with azure-xplat-cli, it ends up using request module version 2.27.0.  From the azure-xplat-cli package.json dependencies:  "request": "2.27.0"

Proxy support in the request module was refactored in roughly around version 2.52.0 (in January

[2015-08-12 19:01] aj-michael commented on #71
Hmmm, can you confirm that this is occurring for you on master? I am not currently able to recreate this failure.

[2015-08-12 19:57] jmspring commented on #71
Yes.  On a Linux VM.  Details below:

jims@ azurespiel:~/tmp/azure-activedirectory-library-for-nodejs$ uname -a
Linux azurespiel 3.19.0-25-generic #26-Ubuntu SMP Fri Jul 24 21:17:31 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

jims@ azurespiel:~/tmp/azure-activedirectory-library-for-nodejs$ cat /etc/issue
Ubuntu 15.04 \n \l

Node version: v0.12.7

---
  113 passing (944ms)
  1 failing

  1) client-cre

[2015-08-12 20:29] aj-michael commented on #71
Ok, I upgraded from node version 0.10.25 to 0.12.7 and I am now able to reproduce this issue. Will investigate.

[2015-08-12 20:31] jmspring commented on #71
Thanks Adam.

On Wed, Aug 12, 2015 at 1:29 PM, Adam Michael <notifications@github.com>
wrote:

[2015-08-12 21:13] aj-michael commented on #71
Hmmm. So this error is being thrown by a library `jws` that we use. That library also fails a unit test for the exact same reason on 0.12.7. It looks like around version 0.11.11, Nodejs made a breaking change in crypto.js that determines what to do with bad certificates. I can't find it in the change logs, but here is one of the maintainers of nodejs acknowledging it:

https://github.com/nodejs/no

[2015-09-02 15:34] RandalliLama opened #76 "The cache entry key 'isMRRT' should have an underscore indicating it's private."
Currently the 'isMRRT value that is added by cache-driver.js does not have an underscore, which would normally indicate that it is a public value.  It should have been private.  We should be careful that any change to this is done in a  backward compatible way.

[2015-09-08 23:11] iambmelt opened #78 "Express dependency in package.json doesn't match syntax used in website-sample.js"
`sample/package.json` declares a dependency on Express v2 but `sample/website-sample.js` initializes `express` by calling [`express()`](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/master/sample/website-sample.js#L32) which is Express v3 syntax.

To reproduce the issue:
1. `git clone <repo>`
2. `cd sample`
3. `npm install && node website-sample.js`

Failing output:

[co

[2015-09-10 18:47] iambmelt opened #79 "Where is the documentation?"
I can't seem to locate API documentation for this library. Are there only samples?

[2015-09-11 03:46] RandalliLama opened #80 "Unreachable ADFS server results in misleading error message"
I tried running a u/p test that failed.  I realized that my ADFS server was unreachable.  However, the error message produced by ADAL indicates that there is a problem with the version of WS-Trust detected at ADFS.  Clearly that can't be right.  We should fix this up so the actual error is clear.

Here are logs:

[code]

[2015-09-11 03:54] RandalliLama commented on #79
@iambmelt We don't have the docs published separately yet.  At this time the best place to find API docs is in the code.  Everything you need should be in:

https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/master/lib/authentication-context.js

You can produce HTML docs by installing jsdoc via npm and then running:

[code]

This should generate docs in a directory named 'out

[2015-09-11 04:06] RandalliLama commented on #60
@qbalin sorry for the ridiculously late response.  Did you figure this out?

I would only expect consent dialogues if you have a multi-tenant app and the user is signing in from a different tenant than the app is registered in.

[2015-09-11 04:07] RandalliLama commented on #55
@siacomuzzi Please re-open the issue if you are still having problems.

[2015-09-11 04:07] #55 closed

[2015-09-11 04:32] iambmelt commented on #79
Thanks @RandalliLama! Just wanted to make sure I wasn't overlooking something obvious :) Feel free to close the issue out now :+1:

[2015-09-11 04:46] qbalin commented on #60
Hi!
Alas, I did so many manipulations I could not help someone running into the same problem.

When I started working on this, the OAuth flow was very new to me, I did not get that the permissions were only asked to deliver the request token, but not to get or refresh the access token. Also, I mainly got confused with the fact that Microsoft delivers different token for several APIs (office365, Gr

[2015-09-11 05:04] RandalliLama commented on #60
Ok, sorry we didn't get to you in time.

[2015-09-11 05:04] #60 closed

[2015-09-12 01:43] weijjia commented on #71
Thanks for the investigation Adam has already made. It looks like nodejs did make an intentional change on the error thrown for bad certificates. We should catch the error and re-throw it. Will send a pull request for it.

[2015-09-14 20:47] weijjia opened #82 "make correlation id the same for code request and token request for device profile flow"
Currently for device profile flow, if user doesn't supply the correlation id, the correlation will be different for code request and token request. This increases difficulty for tracking down errors on server side.

[2015-09-18 23:40] #79 closed

[2015-10-07 21:19] weijjia commented on #72
pull request #73 has been merged for this. Close the issue.

[2015-10-07 21:19] #72 closed

[2015-10-10 06:21] zzeekk opened #88 "PowerBI API not supported"
PowerBI API (resource='https://analysis.windows.net/powerbi/api') needs user/password authentication incl. ClientSecret. acquireTokenWithUsernamePassword doesnt support this scenario.

Error message is: "AADSTS90014: The request body must contain the following parameter: 'client_secret or client_assertion'

[2015-10-26 18:22] weijjia opened #90 "Clean up all JShint issue"
Run jshint to clean up all its related issues.

[2015-11-09 17:12] RandalliLama opened #91 "Add client id to website.js sample."
There is a block of parameters in the code, not the one in the comments, that does not include a clientSecret key.  This can confuse developers looking at the sample.  We need to add one.  It should probably look something like:

clientId = 'YOUR CLIENT ID';

[2015-12-08 10:38] julianfrank opened #92 "Doesn't work now...since the V2 Graph API got released..."
Doesn't work now...since the V2 Graph API got released...When is this going to get updated to support V2 AAd?

[2015-12-08 22:25] ghost opened #93 "Socket Hang Up Error w/ client-credentials-sample.js"
Hi,

I was wondering if you could help me with this socket hang up error I'm encountering. I encounter the same issue with other sample code of O365-Nodejs.

System: OS X Yosemite 10.10.5
Node version: tried with both v0.10.25 and v0.12.9

Steps:
1. create an empty directory & cd into it
1. `npm init`
2. `npm install adal-node --save`
3. `touch index.js`, populate with a simplified version of adal

[2015-12-09 01:00] molant commented on #92
HI @julianfrank,
What error are you seeing?
I can successfully get a Bearer token using user and pass but when I use it to access a resource the server says I'm not authenticated. I wonder if this is related...
Thanks!

[2015-12-09 11:48] julianfrank commented on #92
I use the ClientID/Secret generated on the new App Model V2 Site...The Browser returns "error: The authorizationCode parameter is required. response: undefined" in the body and URL has this:"http://localhost:3000/getAToken?error=unauthorized_client&error_description=AADSTS70001%3a+Application+%27cbb12a4b-fc50-4c72-ba1f-e5c30615761e%27+is+not+supported+for+this+API+version.%0d%0aTrace+ID%3a+03c2867

[2015-12-09 19:40] molant commented on #92
@julianfrank In my case what I've done is to comment lines #93 and #108 from ouathclient.js:
[code]
This returns a token that works with the service I'm trying to access

[2015-12-09 21:04] molant opened #94 "Allow to remove or change the api-version parameters when requesting tokens"
The library has hardcoded `api-version=1.0` (oauthclient.js lines 93 and 108). It will be great if we could change that value programmatically or directly remove that header.
For the last day I've been investigating why the token I got from nodejs didn't worked when accessing a resource and that was the issued. The C# library doesn't seem to append that parameter.

[2015-12-10 09:38] julianfrank commented on #92
I believe you meant oath2client.js ...Tried but still not working...console doesnt throw any error like in #93

![image](https://cloud.githubusercontent.com/assets/9428111/11711927/db124f88-9f4f-11e5-853c-b8877b711046.png)

[2015-12-10 10:36] julianfrank commented on #92
I created the client id and secret in the new portal ...https://apps.dev.microsoft.com...maybe your code is built for the client id/secret created in the old AAD portal

[2016-01-04 17:34] xerners opened #95 "Change npm licenses to license and use spdx syntax"
Basically you don’t specify “licenses” anymore but “license” with a string that corresponds to a supported thing: https://spdx.org/licenses/. https://docs.npmjs.com/files/package.json

[2016-01-05 18:40] iambmelt opened #96 "Support for App Model v2.0?"
It looks like there is already support for the [App Model v2.0](https://azure.microsoft.com/en-us/documentation/articles/active-directory-v2-compare/) in the `devConvergence` branch. Is this available through npm? Or will it be released with the GA of v2.0?

[2016-02-05 21:15] weijjia commented on #96
yes, it's available through npm, version is 2.0.0-pre.

[2016-02-08 09:50] DonMartin76 opened #98 "Support for Resource Owner Password Grant"
Hello,

I suppose it's on purpose you have not implemented the Resource Owner Password grant for Azure AD? In principle, it's almost there, you just would have to add a `clientSecret` to the TokenRequest, extend `createOAuthParameters` with `CLIENT_SECRET` and add an extra parameter `clientSecret` to the `acquireTokenWithUsernamePassword` method of `AuthenticationContext` (tried it, it works).

Be

[2016-02-22 19:13] phedinkus commented on #98
+1

[2016-02-25 07:10] dukedougal opened #100 "adal-node is broken with Webpack. This seems to fix it."
Webpack seems to have a problem with the way adal uses underscore to create the exports.

So in adal.js, remove the following two lines:

And instead of the above two lines, explicitly export the required functions, like so

[code]

As far as I can tell this fixes at least one problem working with Webpack.

[2016-03-07 19:35] weijjia commented on #92
Where version you're using? To support the v2 module, you should use the version 2.0.0-pre

[2016-03-07 19:45] weijjia commented on #98
Per spec for resource owner password grant, we're supporting it with the username/password flow.

[2016-03-07 19:49] weijjia commented on #93
Do you have a fiddler trace?Fiddler trace will give a better idea on what's happening over the wire.

[2016-03-07 19:54] weijjia commented on #100
Sorry i'm not quite familiar with webpack. What is exact problem webpack complains?

[2016-03-07 20:05] dukedougal commented on #100
It won't build with webpack. You could try building it with webpack to see the error.

[2016-03-12 06:30] julianfrank commented on #92
will try some time later...I had tried when Graph v2 just got released...

[2016-03-13 16:33] AnasTawfeek commented on #100
Still no news about using this with Webpack? that update didn't quite work

[2016-03-23 18:52] phedinkus commented on #98
@weijjia @RandalliLama We are authenticating in order to use the Microsoft Graph API. When we don't include the client secret we get an error saying it is required. We are successfully authenticating by calling our modified `acquireTokenWithUsernamePassword` with resource ("https://graph.microsoft.com"), username, password, clientID, clientSecret and a callback.

Is there something else we can do

[2016-03-31 06:16] encodeering opened #103 "dependency update of node-uuid to 1.4.3+"
Hello,

we are using browserify for this project and the target platform uses AMD as well, which leads to an _unresolved dependency_ problem for uuid.v4 ()

It seems, that node-uuid has made a correction broofa/node-uuid@7cc55a5 for this issue, prefering exports over define

Do you think an update to at least 1.4.3 would be appropriate for you?

[2016-04-01 22:52] RandalliLama commented on #98
@phedinkus Sorry I didn't catch on earlier but, if I understand correctly you are trying to write a web app or api that uses a users username and password to authenticate to graph.  If so, we explicitly do not support that.  The point of OAuth is that your web app doesn't ever need to be exposed to the users credentials.  You should be using this sample:

https://github.com/AzureAD/azure-activedir

[2016-04-15 12:31] neall commented on #98
@RandalliLama Sorry for taking so long to get back to you - I missed this comment when it came through.

@phedinkus and I aren't writing a web app directly - we're writing a library. And while I'm sure that most of the apps written in Node have a web front end, there is a large class of utility apps that won't - especially in a line-of-business context.

Do any of the other ADAL libraries omit thi

[2016-04-15 20:34] Ricalo opened #106 "Using dependency marked as insecure: node-uuid@1.4.1"
Quote from the node security project:

https://nodesecurity.io/advisories/93

[2016-04-23 00:28] #106 closed

[2016-04-26 07:43] weijjia commented on #103
It's already updated to 1.4.7, change is merged into dev. We'll update the master with next release.

[2016-04-26 07:43] #103 closed

[2016-04-29 18:36] Tadimsky commented on #94
I'm seeing this same issue. Requesting against version 1.0 gives me this error:

Removing the `api-version` parameter or changing it to `beta` results in successful authorization.

Why is it allowed to authorize on a non-versioned endpoint?

[2016-05-03 11:05] encodeering commented on #103
Current release notes state, that the update is already available, but I couldn't find it in [v0.1.19](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/v0.1.19/package.json)

Will it be available with the next candidate? Thanks in advance

[2016-05-07 00:00] amarzavery opened #116 ""Unsupported wstrust endpoint version" error after login -u on CLI."
https://github.com/Azure/azure-xplat-cli/issues/2497
Above issue on xplat cli has more info.

[2016-05-11 17:28] RandalliLama opened #117 "Update readme to include instructions on how to deal with root CAs"
The list of root certificate authorities that node trusts is hard coded.  The list is in this file:

https://github.com/nodejs/node/blob/master/src/node_root_certs.h

There is already an issue filed against node complaining about the fact that the list is hardcoded.

https://github.com/nodejs/node/issues/4175

There is some code in one of the ADAL samples in this repo that indicate how to handle a

[2016-05-18 04:41] toddfoust commented on #116
Are you still facing this issue? It looks like this might have been corrected with the [#70 fix](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/commit/5eb13cd5b347d66166048586336661f6b72c8071)
If you are still facing this issue, can you elaborate on the failing scenario conditions?

1. Which version of Azure CLI are you running? azure -v
2. Can you identify if the user you are

[2016-05-18 13:11] MarkDordoy-JustEat opened #118 "Does this Library support being used against ADFS"
This is a question rather than an issue. I just want clarification on if this library can be used against an ADFS authority rather than an Azure AD authority.

Thanks

[2016-06-24 11:32] hajekj commented on #98
Hello, it appears like Azure AD requires the `clientSecret` to be specified:
[code]
It happens when I try to run the sample only https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/master/sample/username-password-sample.js (with correct credentials filled out). I believe that if you compare this to the ADAL for .NET, you will see that the request to AAD with resource owner cre

[2016-06-24 17:26] hajekj commented on #88
Related to https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/98

[2016-06-27 14:57] murdockcrc opened #122 "Broken link on README file"
This link is broken on the main README file:
`We provide a full suite of sample applications and documentation on GitHub`

[2016-06-28 06:19] murdockcrc opened #123 "acquireTokenWithUsernamePassword return positive result even after wrong password is passed"
I have written a mocha test with the current flow:

- use ```acquireTokenWithUsernamePassword``` with correct username and password
- use ```acquireTokenWithUsernamePassword``` with same username but wrong password

The first test passes successfully. For the second test, I am expecting to receive a 400 error response. However, it seems that the function is taking the cached token from the first (

[2016-06-28 16:54] RandalliLama opened #124 "Allow for develeper to pass in signing interface."
The current implementation of server certificate base auth requires the developer to pass in the private key to a cert.  This might not be possible in all cases.  For instance, developers using key vault would not be able to do this.  To support these scenarios we need to be able to pass in a function or functions that node adal can call when it needs to sign something.  This would allow adal to b

[2016-07-01 18:54] amishra-dev opened #125 "Ignore the test folder from being published to npm"
Add .npmignore to ignore the test folder.
And alternative would be to do a files element in package.json but that has the potential to get overridden by .npmignore, so we will not do that. https://docs.npmjs.com/files/package.json#files

[2016-07-06 16:59] RandalliLama opened #127 "Add API that allows apps to report app name and version for telemetry."
It would be helpful to be able to identify which apps have which version of ADAL so that we can identify apps that should be updated.

Do not implement this until we have agreement on the shape of the public API changes.

[2016-07-11 19:37] feons commented on #123
@murdockcrc, have you tried setting the token cache used by the `AuthenticationContext` instance?  Specifically the 3rd param, i.e.`new AuthenticationContext(authority, validateAuthority, tokenCacheUsed)`

[2016-07-12 11:00] tinkusam commented on #123
I am facing the same problem. I switched from ADL OAuth to Username/Passsword authentication due to limited validity / unpredictable expiry of ADL refresh tokens. Now this issue seems to be another blow!

[2016-07-12 11:02] tinkusam commented on #123
@feons  Can I disable the token cache? Anything can be set for third param `tokenCacheUsed` to do that?

[2016-07-12 11:35] tinkusam commented on #123
I think the following issue is similar to this
 [https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/460](url)

[2016-07-12 11:43] tinkusam commented on #123
@murdockcrc I am seeing a work around by passing `new MemoryCache()` as the third parameter (`tokenCacheUsed`) to `AuthenticationContext`. Now it works for the time being.

[2016-07-12 11:47] murdockcrc commented on #123
@feons no, but looking at the source I back-pedaled to that third parameter, I don't think the documentation is clear about the structure of token cache and how to use it/implement it correctly.

If I understand this correctly, one would have to implement a token cache service that effectively caches nothing for this to work as an authentication library? My expectation would be for the API to be a

[2016-07-12 16:17] feons commented on #123
@murdockcrc, looking at https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/master/lib/authentication-context.js#L79-L86, specifically:

So I think one of the options would be to pass `new adal.MemoryCache`.

[2016-07-12 17:30] addev-ashish commented on #123
@murdockcrc What is the end goal of this design? are you expecting to validate username and password every time a token is requested?
I would think the flow should be acquireTokenWithUsernamePassword  followed by acquireTokenWithRefreshToken and revoking of access be controlled at the azure portal.

[2016-07-12 18:28] murdockcrc commented on #123
The intended scenario is to authenticate AAD users on a NodeJS app (not Express). That's why I'm trying to get the library get tokens for users that validate with username and password. Obviously, if a user enters the wrong credentials, then no token should be returned and instead an authentication failed should be triggered. That's the end scenario we're pursuing

Get Outlook for Android

On Tue,

[2016-07-12 20:17] addev-ashish commented on #123
@murdockcrc our libraries are not meant to validate username and password, we try our best to avoid prompts to the user. But if you want to do this, you can either pass null as the tokencache param or pass in a new one everytime as suggested by @feons.

[2016-07-13 17:54] addev-ashish commented on #123
@murdockcrc kindly reopen this issue if you think this resolution does not work for you.

[2016-07-13 17:54] #123 closed

[2016-07-13 17:59] addev-ashish commented on #118
Yes, you can. Just pass the ADFS path as the authority and do the username/password flow. https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/master/sample/username-password-sample.js

[2016-07-13 17:59] #118 closed

[2016-07-27 18:45] nazarsh opened #128 "resource returned with 'spn: {id}'"
Hello and thank you for providing this library!

having passed a resource of `00000002-0000-0000-c000-000000000000`

I get back a token which has
`resource: 'spn:00000002-0000-0000-c000-000000000000'`
          ^ note the spn

This seems to differ from the Angular version of the library which returns the resource without the spn. Is there a parameter I can pass to suppress this behaviour, or is th

[2016-08-01 06:29] jeffwilcox opened #129 "Update author information (remove MSOpenTech?)"
Both in `package.json` and throughout this project, copyright references are to the former MSOpenTech entity. Consider seeing whether this can be updated to Microsoft.

[2016-08-01 06:47] jeffwilcox commented on #90
Is this still an issue?

[2016-08-01 19:57] kpanwar opened #132 "Trim developer provided authority to construct endpoints"
Trim developer provided authority to construct endpoints so that they resolve correctly. For example a developer may pass https://contoso.com/adfs/ls/my-application, but the actual oauth2 endpoint would be https://contoso.com/adfs/oauth2/token instead of https://contoso.com/adfs/ls/my-application/oauth2/token.

[2016-09-08 18:51] admeister commented on #128
+1

[2016-10-19 16:32] thenewwazoo opened #137 "acquireTokenWithDeviceCode doesn't block as expected"
When running the device-code-sample.js example, the acquireTokenWithDevice code function doesn't appear to block as expected (or is polling too quickly?). This unfortunately results in the device auth flow being unusable.

The response from acquireUserCode looks good, but as you can see from the verbose output below, the polling happens rather quickly, and the callback is called with an error almo

[2016-10-19 17:16] thenewwazoo commented on #137
This looks like it is probably related to older versions (older than 1.2.0?) of async requiring an integer for the retry argument, and not accepting an opts object.

[2016-10-19 17:20] thenewwazoo commented on #137
Yep. Updating to async 2.1.2 resolved the problem. Not sure how I ended up with 0.9.2 but there you go.

[2016-10-19 17:20] #137 closed

[2016-11-11 04:13] levalencia opened #138 "Error - [webpack] 'dist': ./~/adal-node/lib/util.js Module not found: Error: Cannot resolve module 'fs' in"
I am trying to integrate this library to get an access token, to be used in a MSGRAPH query, in Sharepoint Framework.

I installed FS package but it looks like deprecated, I also instaled node-fs library, but I still get the following error:

[code]

and this is the error
[21:11:07] Error - [webpack] 'dist':
./~/adal-node/lib/util.js
Module not found: Error: Cannot resolve module 'fs' in /Users/lu

[2016-11-11 04:18] levalencia commented on #138
posted it here also: http://stackoverflow.com/questions/40541044/module-not-found-error-cannot-resolve-module-fs-in

[2016-11-13 01:14] jngli opened #139 "Token cache stops working and it sometimes takes over a second to get a token"
During one of our service runs, we noticed that the token cache stops working after a while and it takes significant time to get a token back, sometime it can be over 2 seconds.

[2016-11-14 06:01] omerlh opened #140 "Device Code request failed with AADSTS70002 error (missing credentials)"
Hey
I tried running the device code sample. I changed the client id to a valid client id in our tenant in azure, and also changed the tenant id. The request for code succeed, but after I approved the login the request for a token failed with the following error:
AADSTS70002: The request body must contain the following parameter: 'client_secret or client_assertion'
I think this parameter is not req

[2016-11-14 07:39] omerlh commented on #140
The issue was the client was web application instead of a native application. Might be a good idea to document it also in the sample code. If you agree, I can create a PR.

[2016-12-06 18:23] craxal opened #142 "No Typescript typings"
Unless I'm mistaken, there doesn't seem to be any typings for node-adal. There is a @types/adal package on npm, but this appears to be for a different package. Having type declarations for this package would be greatly appreciated!

See also DefinitelyTyped/DefinitelyTyped#12586.

[2017-01-03 10:42] motiazu opened #143 "Token response documentation"
I looked around the repo for 30 minutes just to see what fields I should expect from the response in AcquireTokenCallback ([as someone suggested](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/79)).
Couldn't find it documented anywhere in either the docs or the code comments. And the actual code that creates that object is a series of a lot of callback and object.extend

[2017-01-18 06:49] ivishwas-s commented on #98
@neall @phedinkus Were you able to get a fix for this by any chance?

[2017-01-24 09:03] Walk4Muscle commented on #143
We can find the response token definition via the requiring chain :
[authentication-context.js](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/dev/lib/authentication-context.js#L25)=>[token-request.js](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/dev/lib/token-request.js#L27)=>[oauth2client.js](https://github.com/AzureAD/azure-activedirectory-l

[2017-01-30 19:38] lindblad opened #144 "AcqureTokenSilentAsync function is missing for AuthenticationContext class"
The function gets in user identity as the last argument and returns access token with user as a "sub" subject field. The function is available in dot-net library for the same class. Please implement this function for the javascript library as well.

[2017-02-13 16:45] kgidewall opened #145 "Expand Resiliency Error Codes"
We currently invoke resiliency mode when the following conditions occur: network timeout or http error codes 500, 503, 504. After discussion, we have decided to expand the error code list to include ALL http error codes 500 - 599. Please change your logic to include all of those codes for Resiliency.

[2017-02-23 20:04] danieljin commented on #128
BUMP! Manually did the change of setting api version to None and it stripped the spn:.
https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/dev/lib/oauth2client.js#L90

Can we get the same change as the python library?

[2017-02-24 18:36] simonejsing opened #146 "Lacking support for requesting tokens 'on behalf of' another client"
In the C# API you can request a token on behalf of another client by providing a 'UserAssertion' token provider. However, this is not possible in the JS library.

We need this functionality, and are looking to hack it together ourselves, but would be nice if this was supported from the framework.

[2017-03-02 12:32] Dogmans opened #147 "Potential caching bug in token-request.js"
Tokens never pulled from the cache due to incorrect key / query.

**Method I am using:**

context.acquireTokenWithUsernamePassword(
        setting.resource,
        setting.authWithCreds.username,
        setting.authWithCreds.password,
        setting.authWithCreds.clientId,
        callback);

**function that does not work as desired**

TokenRequest.prototype._createCacheQuery = function() {

[2017-03-02 12:40] Dogmans commented on #147
Will investigate whether token response field userId is not populated in cached token or whether there is something else going on.

[2017-03-08 23:44] rayluo opened #148 "Add one more trusted authority host login.microsoftonline.us"
A new trusted authority host `login.microsoftonline.us` has been deployed, and we need to add it into our code base.

[2017-03-16 18:31] #95 closed

[2017-03-17 20:04] rayluo commented on #128
Thanks for everyone who participated this conversation thread. The different behavior of that resource value is indeed controlled by the presence or absence of the "api-version=1.0". However we do not clearly know how many customers out there are unknowningly relying on the current "api-version=1.0" behavior, so we do not want to simply remove it and potentially break existing customer's code. The

[2017-03-21 17:11] julsburgs opened #150 "problem acquiring the id_token"
Hi, i have a doubt
according [https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code](url) the response of /token url should content id_token why i am not seeing it ? i am using login.microsoftonline.com as  endpoint

[2017-03-22 01:55] Tadimsky opened #151 "Multi-factor Auth Issues"
Hey!
I'm running into the following error with some of the requests (often happens when accessing the site using Chrome instead of Edge). This is likely because Edge is connected to my Windows account which is the one I'm signing in with:

**Error: Get Token request returned http error: 400 and server response:**
[code]

Any ideas what I can do to resolve this?

[2017-03-23 19:03] gurusamy opened #152 "Getting error the request body must contain the following parameter 'client_secret or client_assertion'"

[2017-03-23 23:10] gurusamy commented on #152
assertion is passed, but still getting this error

[2017-03-30 23:02] balajikris commented on #142
Can someone from the team please comment on this? [my team](https://github.com/Azure/azure-sdk-for-node) is prototyping a version of our libraries written purely in typescript and we depend on adal-node for authentication. Not having a .d.ts would be setback for us, so having some kind of idea of whether this will be supported or not will help us plan better. [tagging @amarzavery]

[2017-04-04 14:31] mzayarnyuk commented on #140
yes you MUST CREATE DESC AND MARK IT IN CODE WITH LARGE RED CHARACTERS;
and why quality of android sample is so low;
and why don't call constants in app with same titles of that keys in AD dashboard...

[2017-04-07 18:21] danieldobalian opened #153 "Do extra parameters from the STS get surfaced to developer?"
In the case the STS returns back an error with an extra parameter, is it accessible to the developer. For instance:

[code]

[2017-04-07 18:22] danieldobalian commented on #153
@kpanwar can you help identify correct person to investigate.

[2017-04-12 00:08] Tadimsky commented on #151
Ping. anyone know what to do?

[2017-04-18 20:24] #122 closed

[2017-04-26 08:18] #92 closed

[2017-04-26 10:54] molant commented on #92
@julianfrank Does it mean it works now?

[2017-05-02 16:35] aappddeevv opened #155 "remove need for dynamic access to package.json to obtain lib version (util.js)"
When trying to add node-adal into a larger bundle, the runtime dependency on a package.json causes bundling schemes motivate a runtime failure since the package.json cannot be accessed from the larger bundle.

[2017-05-10 18:59] akos-sebestyen commented on #155
👍 Please!

[2017-05-11 18:38] morrisjn commented on #155
I would also love this fix! Thank you.

[2017-05-14 03:55] kgroat commented on #98
This is still broken, despite the fact that there is an open PR (#99) to fix it.

Is there any plan to merge said PR?

[2017-05-15 17:41] RandalliLama commented on #98
@kpanwar @aashiman

[2017-05-25 21:10] forivall opened #157 "Username or passwords with `string.replace` patterns will fail"
If the second argument of `str.replace()` contains certain patterns ( https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#Specifying_a_string_as_a_parameter ), login will fail because those patterns will be changed when inserted into one of your templates for WS-security SAML stuff, etc.

Possible solutions:
1. Escape all non-literal strings used by `str

[2017-06-04 05:44] mmaitre314 commented on #142
I have a beginning of typings here: https://github.com/mmaitre314/CostMonitor/blob/master/CostMonitor/adal-node.d.ts
I can expand and send a PR if interested.

[2017-06-09 02:39] szarouski commented on #55
It doesn't work for me too. I tried both access token & id_token, neither works. @RandalliLama any help will be much appreciated. Thank you.

[2017-06-12 15:47] ben-m-lucas commented on #146
PR #159 submitted to address this issue.

[2017-06-15 21:51] pursual commented on #98
This should be merged!

[2017-06-16 06:46] kpanwar commented on #98
We got similar PR in java and .net and we have decided to not support this flow in any library.

[2017-06-16 06:46] #98 closed

[2017-06-21 11:37] ramijarrar commented on #137
Was facing the same issue recently and had to add "async" to my top level dependencies to work-around this, is there a reason why the listed version couldn't be updated to >=1.2.0?

[2017-06-26 18:41] ibetin opened #160 "Invalid aud: adal-node is using outdated Azure AD API"
Please see details here
https://stackoverflow.com/questions/38978298/azuread-jwt-token-audience-claim-prefix-makes-jwt-token-invalid

[2017-07-11 01:49] ashishtechie commented on #128
I am still seeing this issue, actually i saw this issue when i was trying to see that caching on the library is not working. The reason why its not working is because when it compares the resource it finds the 'spn:' in the beginning and basically creates a new token for the same request. Can anybody help on that, if i am missing anything?

[2017-07-16 13:23] pradeemi opened #161 "Cannot find module "net" at webpackMissingModule"
I am getting below this error on below line.

var AuthenticationContext = require('adal-node').AuthenticationContext;

Please resolve this as soon as possible.

[2017-07-16 13:28] pradeemi commented on #161
Complete Error:

Cannot find module "net"
    at webpackMissingModule (dist/fabric-site.js:39478)
    at Object.<anonymous> (dist/fabric-site.js:39478)
    at __webpack_require__ (dist/fabric-site.js:20)
    at Object.<anonymous> (dist/fabric-site.js:39404)
    at __webpack_require__ (dist/fabric-site.js:20)
    at Object.<anonymous> (dist/fabric-site.js:39165)
    at __webpack_require__ (dist/fab

[2017-07-17 03:57] jeffwilcox commented on #161
`net` is a [Node.js core library](https://nodejs.org/api/net.html)...

[2017-07-17 10:03] pradeemi commented on #161
How to install this module in Solution? I mean npm install "module name".

[2017-08-01 10:48] oreporan opened #163 "allow localhost/test-ip on AuthenticationContext"
We have blackbox tests where we want to mock the ActiveDirectory.
To do that we start a fake-server on localhost and intercept activeDirectory requests (`oauth2/token/`).
But the AuthenticationContext throws an error since its not a known ActiveDirectory.

Suggestion:
add method to allow adding known IPs

[code]
Or if this method is an overkill, just allow 'localhost' by default..

[2017-08-04 08:16] jaimemm commented on #128
Hi,

I am also experiencing the same behaviour, which causes a "IDX10214: Audience validation failed" error when invoking my API App URL.
Is it there any workaround to get the spn prefix removed from the audiences?

Regards

[2017-08-08 02:42] myunggeun-song commented on #128
Hi,

Would you let us know any progress or decision for this problem? We are using the HACK but it should not be a permanent option. Please take care of this issue.

Thanks!

[2017-08-10 14:40] jaimemm commented on #128
At least please reply if you're accepting pull requests, so we can fix it.

Regards

[2017-08-10 22:28] rayluo commented on #128
Thanks for your interest in helping. I've updated my [earlier comment](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/128#issuecomment-287457624) to include the way we introduced a workaround for this in ADAL Python. A pull request in ADAL Nodejs will need to follow similar approach.

[2017-08-10 22:29] rayluo commented on #160
Duplicated as #128 . Let's track the conversation there.

[2017-08-10 22:29] #160 closed

[2017-08-23 22:36] tomflenniken commented on #155
The recommended approach for Azure functions is to webpack the deployed files (see https://github.com/Azure/azure-functions-pack). Adal-node is incompatible with this approach and requires us to include the adal-node packages as a separate node_module. This causes significant performance degradation (cold start times go from 5-7 seconds to ~30).

[2017-08-23 23:26] akos-sebestyen commented on #155
@tomflenniken we had the exact same issue. See this workaround.
https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/pull/165

[2017-08-25 14:30] jorishermans commented on #152
I have the same issue here ...

[2017-08-30 21:58] SimonSchick commented on #142
Typings would be very helpful indeed.

[2017-08-30 22:01] amarzavery commented on #142
@rayluo @kpanwar - Can someone maintaining this repo provide an ETA for this?
FYI, There are projects like https://github.com/SitePen/dts-generator and https://github.com/Microsoft/dts-gen
that help you generate d.ts (type definition files).

[2017-09-08 17:56] naveen26246 opened #167 "No webpage found for the webaddress http:xxxxxx/getAToken?code=?xxxxx"
Hi,
I have successfully tested the authentication process as mentioned in https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/master/sample/website-sample.js.

However, when I host the same application on azure web api, the /getAToken endpoint is failing with an HTTP 404 error below:
No web page was found for the web address: http://xxxxxxxxx.azurewebsites.net/getAToken?code=x

[2017-09-08 19:55] whitneyland opened #168 "code bug in readme example"
I think server to server example should be

this:
var context = new adal(authorityUrl)

instead
var context = new AuthenticationContext(authorityUrl)

[2017-09-10 03:15] #167 closed

[2017-09-11 21:42] benrr101 commented on #142
@amarzavery for the record, I just tried using the Microsoft/dts-gen to generate a .d.ts for adal-node -- no dice. I've logged the issue https://github.com/Microsoft/dts-gen/issues/84

[2017-09-11 22:27] amarzavery opened #170 "node-uuid is deprecated. Can you replace this dependency with uuid?"
https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/dev/package.json#L21
https://www.npmjs.com/package/uuid - Please use this package instead.

[2017-09-20 18:01] bboolean opened #171 "Do I need to copy the Apache licence when I copy the samples for my own app?"
Do I need to copy the Apache licence when I copy the samples for my own app?

Do I need to create a version history for my personal app?

[2017-10-11 22:51] lovemaths opened #172 "Add login.microsoftonline.us endpoint"

[2017-10-11 23:17] lovemaths commented on #172
PR merged in dev.

[2017-10-11 23:17] #172 closed

[2017-10-25 23:27] #155 closed

[2017-10-25 23:35] lovemaths commented on #155
@akos-sebestyen Thank you for your PR, we will do a new release this week with your PR.

[2017-10-26 23:33] lovemaths commented on #148
duplicate with #172 ,already fixed and released

[2017-10-26 23:33] #148 closed

[2017-10-31 16:11] amarzavery commented on #170
@lovemaths @addev-ashish
- Can you please replace the node-uuid package with uuid package? Even the README on npm says that this package is deprecated. In 0.1.19 release of adal-node node-uuid's version was bumped from 1.4.1 to 1.4.7. However, it would have been best to replace this with uuid. There are no breaking changes in the api as well.
![image](https://user-images.githubusercontent.com/4521

[2017-11-02 23:52] amarzavery commented on #161
IMO this library should not be browserified or webpacked. This library is intended for node specific authentication i.e. to be used as a console app or on the server side. For browser you should use
- https://github.com/AzureAD/microsoft-authentication-library-for-js
- https://github.com/AzureAD/azure-activedirectory-library-for-js

[2017-11-03 22:40] amarzavery commented on #170
closing this since it has been fixed in #176

[2017-11-03 22:40] #170 closed

[2017-11-06 22:37] lovemaths commented on #142
@craxal @balajikris @mmaitre314 @SimonSchick @benrr101 Typings added as of version 0.1.25. Many thanks to @amarzavery for the contribution.

[2017-11-06 22:37] #142 closed

[2017-12-01 16:40] fearthecowboy opened #181 "You should Add .npmignore file and not publish unneeded files"
The `test/*` as is the `tsconfig.json` and other files are getting included in the package that is published.

(fyi, credscan gets angry at having credentials in the tests, and since they are in the package, it's tripping up usage of the package).

[2017-12-01 16:46] amarzavery commented on #181
.npmignore needs to be beefed up to not include those things and a new version should be published

[2017-12-02 02:59] lovemaths commented on #181
@fearthecowboy Could you please give us more details?
(1) Does credscan complain adal-node version 0.1.23?
(2) Could you please let me know what words credscan doesn't like?

[2017-12-06 00:39] #181 closed

[2017-12-06 02:11] jeffwilcox opened #185 "Dependency "xpath.js" version does not have an OSI-approved license"
FYI, the `xpath.js` npm module as used does not have an OSI-approved license, which may make it difficult for others to consume and use the project, depending on their corporate policies. The module is licensed CC-SA, which is not something that should be used for software; it's an artistic license.

This is an issue; for my use case here at Microsoft, this sort of module will often require a manu

[2017-12-06 02:13] jeffwilcox commented on #171
If you're just using the package itself, you likely do not need to do anything else, though you're free to attribute the dependency. I am not a lawyer.

As to whether you should use versioning or source control, that sounds like a question that you'll need to independently answer, though it's a great practice.

Recommend closing this issue.

[2017-12-06 02:14] jeffwilcox commented on #129
Hi, any updates on this? It's been over a year, and the legal entity Microsoft Open Technologies, Inc. was spun down.

[2017-12-08 14:45] hashtagchris commented on #128
Regarding customers relying on the current "api-version=1.0" behavior: Please consider introducing a new major version (e.g. 1.0.0) of the adal-node npm package so you can break backward compatibility per https://docs.npmjs.com/getting-started/semantic-versioning

[2017-12-08 19:56] rayluo commented on #128
Thanks @hashtagchris ! That is the plan. We will try to include more shiny new features in the 1.0 version too.

[2017-12-13 03:12] salvoravida commented on #128
please merge :

https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/pull/186

[2017-12-14 15:38] HofmT opened #187 "Library useable in Electron"
Hello,

quick question: Is it possible to use this library to authenticate an electron app with Azure AD ?
Thanks in advance!

[2017-12-22 16:06] prowe commented on #139
If a request for a token is in-flight (awaiting a response from AD) and another token is requested then two responses are received from the AD server. These two responses will have the same _clientId, _authority, userId, and resource fields but the expiresOnDate will be slightly different (few ms different). [This call](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/da80b

[2017-12-25 07:59] michaelllh opened #189 "how to develop for Multi-Factor Authentication"
how to develop for Multi-Factor Authentication , I can not find any development document in offical website , so I want to ask whether microsoft offer some technical document to develop for Multi-Factor Authentication account?

[2018-01-02 17:59] navyasric commented on #187
@HofmT This library is for authenticating server side JS application flows. It does not have support for an Electron plugin and native device capabilities required by Electron apps.

[2018-01-02 17:59] #187 closed

[2018-01-03 18:47] anpetral-msft commented on #185
From what I can tell, the package.json of adal-node needs to be updated to allow moving to [Jeff's proposed new 1.1.0](https://github.com/yaronn/xpath.js/pull/22) version of xpath. Right now it is locked to 1.0.* in the minor version number.

Replacing the ~ version prefix to xpath.js with ^ should allow for a seamless upgrade.

[2018-01-04 15:21] anpetral-msft commented on #185
The original issue in xpaths.js has been closed and the package is now at version 1.1.0.

[2018-01-05 09:36] #185 closed

[2018-01-11 21:31] Hadis-Fard opened #192 "low performance in generating token in acquireTokenWithUsernamePassword"
I'm using ADAL node in my application to generate security token, using `AuthenticationContext.acquireTokenWithUsernamePassword`, after passing all parameters to the the API it takes about 1 second to get the response which is  considerable in node js env, the application is on halt till receiving the token and can't proceed without token. Any tips on how to improve the performance when using this

[2018-01-27 02:09] bryceg commented on #147
I just ran into this also.  Tested acquireTokenWithClientCredentials in a loop and never got the same token returned.

[2018-02-01 06:27] danieldobalian commented on #151
@Tadimsky sorry about the really late answer.  This error happens when the resource requires extra claims (in this case MFA) from the access token. To handle it, the app needs to take the string from `claims`, and append it onto a new interactive authentication request. Then that new access token will have the necessary claims to comply with the Conditional Access policy (50079 == MFA).

[2018-02-01 06:28] #151 closed

[2018-02-20 22:36] scott-lin commented on #128
The "api-version=1.0" workaround isn't possible in TypeScript if I'm not mistaken since AuthenticationContext constructor doesn't expose a way to set the value.

https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/606fa2a0b365f75848305033b0d964476820edef/lib/adal.d.ts#L277

@rayluo, any suggestions?

[2018-02-20 23:07] scott-lin commented on #128
I plan on using the aforementioned [workaround](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/pull/149) for now, but is there any update on the proper fix?

[2018-02-20 23:12] rayluo commented on #128
Sorry we don't currently have an update for this one. I'm looping our PM @navyasric into this conversation in order to keep track of the user voice.

[2018-02-27 11:20] polys commented on #128
This has been open for ages and still no proper fix? Is this still the official library or should we be using something else instead?

[2018-03-15 03:23] eHealthManny commented on #147
I think this may be related to an issue we are having that is causing cpu usage to slowly creep up indefinitely.

Since we end up with so many tokens in the function CacheDriver.prototype._updateRefreshTokens the call to CacheDriver._removeMany  starts taking extremely long to return and blocks the server.

Here is a snapshot of a CPU profiler we ran:
![image](https://user-images.githubusercontent

[2018-03-15 14:47] Dogmans commented on #147
I fixed it on my branch if you want to pick that up.
See fix here:
https://github.com/Dogmans/azure-activedirectory-library-for-nodejs/commit/c6d52e7942d8f6786551daeb936d1c4809cacbe6

[2018-03-15 16:33] amarzavery commented on #147
@bryceg

For the service principal credentials there is no concept of storing the tokens. Adal caches the clientid and the secret and would then get a new token from ADAL service every time a request is made to acquireToken.

[2018-04-13 08:54] jdneo opened #197 "Token Cache not updates correctly"
The code here: https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/2badd7c19e562c22fbdaff83e2d4bd524ab30c59/lib/memory-cache.js#L63 is using `isEqual` to check if two token entries are equal or not. But sometimes, `addElement` is just an update of `element`, (All the fields are equal except the `expiresOn`)

For example:
![image](https://user-images.githubusercontent.com/61938

[2018-04-13 10:31] prowe commented on #197
Could this be resolved by #188 ?

[2018-04-13 13:25] jdneo commented on #197
Looks good. Thanks

[2018-04-26 17:44] navyasric commented on #197
Closing as this seems to be resolved.

[2018-04-26 17:44] #197 closed

[2018-04-27 01:58] jdneo commented on #197
@navyasric

May I ask why you close this issue? The code there hasn't got any updates. The PR referenced by @prowe is still open.

[2018-04-28 01:34] jdneo opened #199 "Token Cache not updates correctly"
I have to create a new issue here because the original one #197 is closed by mistake and no further response after that.

------------------------------

The code here: https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/2badd7c19e562c22fbdaff83e2d4bd524ab30c59/lib/memory-cache.js#L63 is using `isEqual` to check if two token entries are equal or not. But sometimes, `addElement

[2018-04-28 09:06] hajekj opened #200 "Tokens not cached when obtained by refresh token"
When using `acquireTokenWithRefreshToken` the obtained token doesn't get cached which makes this library hard to use with Passport.js. Is there any reason why the token doesn't get cached? You could simple add it to the cache just like `getTokenWithDeviceCode` does - https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/9aa56725c95981f5d8c461db5b81c7cc62884988/lib/token-request.

[2018-04-29 18:45] przemyslawpluta opened #201 "WS-Trust RST request returned http error: 503 and server response"
We're using `adal-node@0.1.28` and getting increased amount of errors when users try to log in with below response ... after few retires we user eventually manages to log in but we haven't seen this issue before only past few weeks.

[code]

[2018-05-02 22:42] gmoshe27 commented on #128
It's a shame that there isn't yet a work-around, as it would save many users a lot of time. In the interim, if you are looking for a way to get a client credential, that's auth with client id and client secret, then here is what I figured out:

Microsoft documents the http call for authenticating a service to a service:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directo

[2018-05-30 20:13] Hadis-Fard commented on #192
Any updates on this?

[2018-05-31 23:39] prowe commented on #192
I think #188 fixes this. In the meantime you can use my fork.

[2018-06-26 16:25] gregdegruy opened #202 "Why is resource a GUID?"
In the code example I see
var resource = '00000002-0000-0000-c000-000000000000'; // URI that identifies the resource for which the token is valid.

In my example I was able to generate a token using
var resource = 'https://mssmartsheet.api.crm.dynamics.com';

[2018-06-26 18:10] Coderrob commented on #152
This is almost a absolute requirement in order to authenticate with Microsoft Partner Center Services...

[2018-06-28 18:58] Coderrob commented on #168
Looks like a PR is open for this correction. https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/pull/203

[2018-07-18 09:02] spreadzz commented on #151
@danieldobalian, it's not clear from your answer if this is possible with the ADAL library?
If so could you show some samples of code?

[2018-07-23 16:22] danieldobalian commented on #202
They're interchangeable in many cases. The GUID is the AppID of the resource. In the example above, that's the GUID of Azure AD Graph API.

[2018-07-23 16:22] #202 closed

[2018-07-30 18:44] v-suhame commented on #192
Thanks @prowe, the application referred in this issue is a SQL Server connectivity driver (https://github.com/tediousjs/tedious), so improving cache wouldn't help it, as `tedious` drive deals with individual connections, but connection pooling packages that uses it will benefit from your PR 👍

[2018-08-03 22:51] ryanzjohnson-ms commented on #128
I am having the same issue but with Client Token validation. Any update on this?

[2018-09-06 19:51] ArmorDarks commented on #88
Seems like `https://analysis.windows.net/powerbi/api` no longer valid URL for Power BI. Just in case someone will get here 3 years after...

[2018-09-26 14:19] mherro commented on #157
Would be great to get this fixed. I just spent a day debugging an issue that was ultimately caused by this bug.

[2018-10-12 22:52] gregdegruy opened #208 "Bug in Business Central Authentication, Works with Dynamics CRM Online"
Context here
https://stackoverflow.com/questions/52787331/dynamics-business-central-azure-ad-adal-unauthorized

[2018-10-18 09:01] #150 closed

[2018-11-06 19:31] #192 closed

[2018-11-13 10:20] chrmarti opened #209 "Support client supplied https options"
Proxy and certificate support in Node.js is not integrated with the OS settings. To work around that we would need a way to set the `agent` and `ca` properties on the options to `https.get` and `https.request` calls ADAL for Node makes.

Will this be supported in MSAL?

[2018-11-16 18:36] bryanchen-d opened #210 "support oauth v2"
the current version only support v1. Is there a plan to support the oauth v2 flow?

[2018-11-26 19:00] mahpour commented on #151
@danieldobalian can you please be more collaborative ? your comments doesn't have very clear directions on what exactly need to be done.

[2018-12-04 01:18] carlosscastro opened #211 "[Question] Support for custom token cache?"
ADAL.NET allows to provide a custom token cache. Does ADAL for nodejs provide such a functionality?

We, at Microsoft Bot Framework, develop SDKs in multiple languages and we are making sure that the same features are supported in the different ADAL implementations. We'd lke to allow our users to use redis or other more durable token caches if they need to.

Thanks

[2019-01-11 11:50] anujaunds opened #212 "retrieve data"
Hi,

Could you let me i get access token with adal-node , But i am unable to retrieve data through api url. i tried with .acquireToken() function. i was see this "acquireToken requires a function callback parameter" error with my app.js could you please let me how i resolved this problem.

Regards,
Anuj Sharma

[2019-01-28 21:22] somasundarambk opened #213 "Unable to login when password contains special characters."
Hello! We are using ADAL in typescript for authentication. We found that when the password contains special character, such as '&', the authentication fails.

Here's an example error log from the attempt:
**AADSTS50126**: Invalid username or password
**Trace ID**: 6147004c-bf47-49aa-a0dd-815f31260100
**Correlation ID**: dbc1b6e2-54c2-4951-b129-bad8a645efff Timestamp: 2019-01-25 00:41:17Z
**Status*

[2019-01-30 00:11] somasundarambk commented on #213
Sorry about the false fire, we are using ADAL C++ in the js land, closing this issue.

[2019-01-30 00:11] #213 closed

[2019-02-13 08:14] riteshranjan007 opened #214 "Support for client assertion to get access tokens"
Currently there is no support for getting access tokens using client assertion

as mentioned here - https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/client-assertion

AuthenticationContext.prototype.acquireTokenWithAuthorizationCode = function(authorizationCode, redirectUri, resource, clientId, clientSecret, callback)

There should be a another method which should accept ap

[2019-02-15 05:12] nasirvi opened #215 "Error in login: "Entry not found in cache""
I am running into login error, any guidance on resolving or troubleshooting this issue will help.

To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code BDUNS3J7W to authenticate.
Error: Entry not found in cache.
at Logger.createError (C:\Source\Farm Beats\pcs-cli\node_modules\adal-node\lib\log.js:216:13)
at TokenRequest. (C:\Source\Farm Beats\pcs-cli\

[2019-02-20 05:28] nasirvi commented on #215
Is there any workaround for this issue? Found one more similar issue but that does seem to solve it for us. https://github.com/Azure/azure-xplat-cli/issues/2203

[2019-04-01 09:56] ncjones commented on #163
I already implemented #218 before seeing this issue. Given the age of this I guess there's little to no hope that our changes will be merged. In the mean time my workaround it to apply the following monkey patch:

[code]

[2019-05-19 16:10] hashtagchris commented on #128
Based on #149 I removed the api-version parameter and published `@hashtagchris/adal-node-no-api-version` to the npm registry, if people want to use that package until this issue is fixed.

[2019-05-27 08:41] mkopacz opened #219 "AADSTS9002313: Invalid request. Request is malformed or invalid."
Hi, I keep getting the following error from the `acquireTokenWithAuthorizationCode` method:

[code]

It used to work for about 1 year and all of a sudden started returning errors last week. I suspect it might be caused by some configuration changes in Azure AD, but I don't have access to it and can't check anything there.

Are you able to check what is wrong based on the correlation ID?
Any help a

[2019-08-11 20:53] dylanjmorgan commented on #128
This has been going on for 3 years!  I stumbed on the issue writing an interface to AAS in Node (to run on linux) where Microsoft expects the resource to be https://*.asazure.windows.net.

@hashtagchris your repo works, where the official one is broken, apparently for 3 years.  Thanks!

[2019-08-14 12:11] anfasci opened #222 "Got error when trying to get access token in nodejs using azure, AADSTS50058: A silent sign-in request was sent but no user is signed in"
StatusCodeError: 400 - "{"error":"invalid_grant","error_description":"AADSTS50058: A silent sign-in request was sent but no user is signed in.\r\nTrace ID: 05db5c6a-155c-4870-9bca-a518b5931900\r\nCorrelation ID: 1e8372d0-c1ba-4070-88d7-597e9cb5cb2c\r\nTimestamp: 2019-08-14 12:04:42Z","error_codes":[50058],"timestamp":"2019-08-14 12:04:42Z","trace_id":"05db5c6a-155c-4870-9bca-a518b5931900","correla

[2019-08-23 20:32] rayluo commented on #128
Thanks for all your patience. This is now fixed in [release 0.2.0](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/releases/tag/0.2.0) after we merged #186. You will still need to manually opt-in for the new behavior.
CC @DarylThayil

[2019-08-23 20:32] #128 closed

[2019-08-23 20:34] rayluo commented on #94
Thanks for all your patience. This is now fixed in [release 0.2.0](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/releases/tag/0.2.0) after we merged #186. You will still need to manually opt-in for the new behavior.
CC @DarylThayil

[2019-08-23 20:34] #94 closed

[2019-08-27 11:37] salowenh opened #224 "It is not possible to identify with Subject Name and Issuer Authentication"
Currently it's possible to acquire token using Subject name and issuer authentication only when using the  [.net lib](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.clients.activedirectory.authenticationcontext.acquiretokenasync?view=azure-dotnet)
This should be available for the nodejs library as well as it's more secure and stands with various security requirements for cert'

[2019-10-07 07:22] guybartal commented on #215
happens to me as well... is this going to get fixed?

[2019-11-07 07:04] haonliu opened #226 "Regression in v0.2.1 - api-version=1.0 is appended to the url"
Hi,

I'm using adal-node@0.2.1, but I don't see change #186 in this version. After switch back to v0.2.0, the change is there but the typings are not matching, for example, AuthenticationContext's constructor expects 3 params instead of 4.

[2019-11-07 07:04] haonliu commented on #226
related: #94 #105

[2019-11-25 21:56] aaomidi commented on #215
This is happening to me as well.

[2019-11-27 22:04] aaomidi commented on #215
So I've found a pretty fun workaround for this problem...

https://github.com/microsoft/azuredatastudio/blob/48b2cbb0bfe3de49a9dfc4561b62eb737b3cde2d/extensions/azurecore/src/account-provider/azureAccountProvider2.ts#L337-L355

You have to modify the token object and store it separately.

[2019-12-04 00:30] devaradhanm commented on #226
Is there any update on this issue?

[2019-12-16 21:13] jmckennon commented on #210
This repo will only support v1 endpoints, however `msal js` supports both v1 and v2.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authenticatio

[2019-12-16 21:13] #210 closed

[2019-12-16 21:20] jmckennon commented on #43
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, is still support

[2019-12-16 21:20] #43 closed

[2019-12-16 21:21] #44 closed

[2019-12-16 21:22] jmckennon commented on #47
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, is still support

[2019-12-16 21:22] #47 closed

[2019-12-16 21:23] jmckennon commented on #53
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, is still support

[2019-12-16 21:23] #53 closed

[2019-12-16 21:23] jmckennon commented on #61
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, is still support

[2019-12-16 21:23] #61 closed

[2019-12-16 21:24] #71 closed

[2019-12-16 21:24] #76 closed

[2019-12-16 21:25] #82 closed

[2019-12-16 21:25] #80 closed

[2019-12-16 21:25] jmckennon commented on #78
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, is still support

[2019-12-16 21:25] #78 closed

[2019-12-16 21:27] jmckennon commented on #88
Unsupported based on #98

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node

[2019-12-16 21:27] #88 closed

[2019-12-16 21:28] #90 closed

[2019-12-16 21:29] #91 closed

[2019-12-16 21:33] jmckennon commented on #93
Closing as it's been quite a bit of time, so we're assuming this is no longer a problem.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentic

[2019-12-16 21:33] #93 closed

[2019-12-16 21:34] #117 closed

[2019-12-16 21:34] #124 closed

[2019-12-16 21:34] #127 closed

[2019-12-16 21:34] #96 closed

[2019-12-16 21:35] jmckennon commented on #100
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, is still support

[2019-12-16 21:35] #100 closed

[2019-12-16 21:36] jmckennon commented on #116
Closing this as it's been some time since a response and we'll be assuming this is no longer a problem.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/micr

[2019-12-16 21:36] #116 closed

[2019-12-16 21:39] jmckennon commented on #125
This is currently implemented.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the ada

[2019-12-16 21:39] #125 closed

[2019-12-16 21:45] jmckennon commented on #129
@negoe @DarylThayil -- is this something we should be changing? Basically every file references:
[code]

https://msopentech.com (referenced in `package.json` does redirect to the https://opensource.microsoft.com site, though.

[2019-12-16 21:46] #132 closed

[2019-12-16 21:47] jmckennon commented on #138
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 21:47] #138 closed

[2019-12-16 21:48] jmckennon commented on #139
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 21:48] #139 closed

[2019-12-16 21:49] jmckennon commented on #140
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 21:49] #140 closed

[2019-12-16 21:52] #143 closed

[2019-12-16 21:52] jmckennon commented on #144
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 21:52] #144 closed

[2019-12-16 21:52] #145 closed

[2019-12-16 21:53] #146 closed

[2019-12-16 21:55] jmckennon commented on #147
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 21:55] #147 closed

[2019-12-16 21:56] jmckennon commented on #152
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 21:56] #152 closed

[2019-12-16 21:59] jmckennon commented on #157
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 21:59] #157 closed

[2019-12-16 22:03] #153 closed

[2019-12-16 22:04] #161 closed

[2019-12-16 22:06] jmckennon commented on #163
Thanks for sharing your workaround--we appreciate the help. Sorry for the lack of support; current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js)

There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authenticat

[2019-12-16 22:06] #163 closed

[2019-12-16 22:06] #168 closed

[2019-12-16 22:08] jmckennon commented on #189
MFA for Azure can be found [here](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks).

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https

[2019-12-16 22:08] #189 closed

[2019-12-16 22:09] jmckennon commented on #199
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 22:09] #199 closed

[2019-12-16 22:11] jmckennon commented on #200
https://github.com/AzureAD/passport-azure-ad could help with your issue--and thank you for providing a workaround. Additionally, we'll be writing some middleware code in the modern `msal js` over the next few quarters.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans

[2019-12-16 22:11] #200 closed

[2019-12-16 22:14] jmckennon commented on #201
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 22:14] #201 closed

[2019-12-16 22:14] jmckennon commented on #208
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-16 22:14] #208 closed

[2019-12-16 22:15] DarylThayil commented on #129
@jmckennon  If you look at the msal core code, the copy write in those files can be replaced here, although it may not be worth it for this codebase.

[2019-12-16 22:23] jmckennon commented on #209
Setting `agent` is possible today in `msal js`. If by `ca` you mean conditional access, this is also possible through Azure settings (see https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview), though is not directly supported in the server team's implementation of the implicit flow.  Upon implementing the Auth-Code flow in `msal js` over the next few months, we will

[2019-12-16 22:23] #209 closed

[2019-12-16 22:25] jmckennon commented on #211
The only caches supported in js implementations today are `session` and `local`. This may change in the distant future, but we have no plans to do so yet. We're confident in our ability to safely store secrets locally.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans

[2019-12-16 22:25] #211 closed

[2019-12-16 22:27] jmckennon commented on #212
I know it has been quite a bit of time, and we're sorry for the delayed response. If you're still having issues, we recommend completely moving to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js).

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) T

[2019-12-17 00:06] jasonnutter commented on #129
Probably a good thing to do if/when we move this library to the msal repo.

[2019-12-17 22:02] forivall commented on #157
Thanks! I'm no longer working at the company where I used ADAL js (and this was back in 2017 before `msal js` was around). So, good to hear that it'll still receive security fixes, but this issue isn't my problem anymore.

[2019-12-18 23:37] jmckennon commented on #214
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-18 23:37] #214 closed

[2019-12-18 23:59] jmckennon commented on #222
Hi @anfasci, sorry for the delayed response. If you're still seeing issues, please comment and we can try to remedy them. My best guess by seeing this part of your code is that you're not explicitly logging in before trying to obtain a token. I think I'll need more info to further guide you, is this all the code you've written? (Additionally, wrap everything in three backtics ``` on either side to

[2019-12-19 00:01] jmckennon commented on #224
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) There is plans to add a similar node.js wrapper to `msal js`, as can be seen on our roadmap [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap). `adal js`, and the adal-node wrapper, are still suppor

[2019-12-19 00:01] #224 closed, assigned to nobody

[2020-02-24 18:05] aflinchb opened #229 "Remove dependency on deprecated Request"
Request is being deprecated: https://github.com/request/request/issues/3142 and this library currently has a dependency.

[2020-02-24 19:52] jmckennon commented on #229
@aflinchb Thanks for the heads up; this library is also effectively in maintenance mode. We'll only be making changes for high priority security fixes. We recommend users move to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). We are starting work on an `msal-node` as well [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/4)  w

[2020-02-24 19:52] #229 closed, assigned to nobody

[2020-02-24 19:54] jmckennon commented on #212
Closing this as we're assuming it's no longer a problem. Again, we recommend all users to onboard to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js).

[2020-02-24 19:54] #212 closed

[2020-02-24 19:55] jmckennon commented on #222
Closing as we're assuming this is no longer an issue from the delayed response. Again, we recommend all users to move to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js).

[2020-02-24 19:55] #222 closed

[2020-03-03 17:59] quantrpeter opened #230 "SharePoint Online question"
Hi, possible to use this library to get the accessToken of SharePoint online by passing username+password? thanks

[2020-03-05 19:55] angular-git-user opened #231 "xmldom dependency issue"
Hello,
We have an application which has a dependency on
@azure/service-bus.
The dependency hierearchy goes like this

[code]

My application works on NodeJS 8. But I see that adal-node has dependency on
`"xmldom@>= 0.1.x"` . I expected this to pull latest version of xmldom 0.1.x but I see that it in facts pull `xmldom@0.3.0`.

There was a recent update in xmldom 0.3.0 which has dependecy on NodeJS

[2020-04-03 10:48] nilesh-verma opened #232 "Sharepoint SPFX error"
In using my sharepoint framework project , on serving the project it gives the error

Error - [webpack] 'dist':
./node_modules/request/lib/har.js
Module not found: Error: Can't resolve 'fs' in 'D:\sharepoint\PeckBrtother_CodeRepository\DemoSite\CRM_API\node_modules\request\lib'
resolve 'fs' in 'D:\sharepoint\PeckBrtother_CodeRepository\DemoSite\CRM_API\node_modules\request\lib'
  Parsed request is

[2020-04-06 04:56] royrliu commented on #215
@nasirvi
Hi, I also encountered the same problem.
Have you solved this problem?

Does anyone knows
Has this example not been running all the time?
If, using the previous version of node.js, will it work?

[2020-04-06 05:16] royrliu commented on #199
Hi
Do you know how to solve the flowing issue? Or will MSAL provide the version of node.js for devicelogin?

[AzureAD/azure-activedirectory-library-for-nodejs#215](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/215)
This could be migrated to MSAL otherwise but the Node.js version doesn't support OAuth Device Flow.

[2020-04-06 05:22] nasirvi commented on #215
@royrliu it was fixed for us by changing the azure portal password which was by coincidence.

[2020-04-06 05:54] aaomidi commented on #215
I just stopped using this.

[2020-04-06 08:37] nilesh-verma commented on #230
Hii ,Have you got any solution to get access token in sharepoint online without login pop-up.

[2020-04-15 07:22] suencien opened #233 "OpenId Connect error during authorization"
Hi guys,

I'm new to OpenId Connect authentication. I've added an app in the Azure portal and am replacing Microsoft authentication to OpenId because it has deprecated. The site was built using ASP.NET Web Forms.

Now since I need to grab the user's access token after the authorization to get user's image using graph.microsoft.com, I need to add "code" at the ResponseType. But when I do so, I get

[2020-04-18 02:56] #233 closed, assigned to nobody

[2020-04-18 18:15] jeffwilcox commented on #226
I'm wondering the same... the 'Releases' page on GitHub and the changelog.md do not include anything about the v0.2.1 version.

[2020-05-08 03:12] mstewio commented on #215
I received this error when I attempted to authenticate using my company's Enterprise account where I am not a global admin. I created a trial Azure subscription using my personal Outlook account and DID NOT receive this error.

[2020-05-28 19:24] aadamsx opened #236 "Deno integration with AD"
Now that Deno has hit version 1.0, can we get AD integration like we have for Node?

[2020-07-08 16:13] AlexisVirgen opened #237 "Token not working for NodeJS"
Hi Im trying to get access to an API using a bearer token, using the adal function `acquireTokenWithClientCredentials`. I received token successfully, but when I try to use it for the API it doesnt work.

Its weird because if I retrieve the token using the same adal function (using the same credentials and API) but with Python, the token works. I dont know if there is a problem with my AAD or some

[2020-07-09 18:57] AlexisVirgen commented on #237
The problem was in the token response, the resource is returned with `spn:{id}`. The solution is address here: AzureAD/azure-activedirectory-library-for-python/issues/54

[2020-08-03 11:08] io-timeout opened #239 "Cache corruption and memory leak"
Testing has proved that if multiple calls are made to `acquireTokenWithClientCredentials` before the initial call returns asynchronously then multiple tokens are added to the cache.  This results in multiple cache entries being added and therefore any future calls to `acquireTokenWithClientCredentials` fail to retrieve from the cache as there are now multiple candidate entries.

This results in th

[2020-08-18 13:23] joonaojapalo opened #240 "Replace the deprecated and vulnerable dependency package `request`"
The direct dependency package `request` has been deprecated in Feb 2020 (https://www.npmjs.com/package/request). All versions of `request` including the latest one are affected by prototype pollution vulnerability (https://sca.analysiscenter.veracode.com/vulnerability-database/security/sca/vulnerability/sid-21913/summary)

Maintainers of the package have composed the list of alternative libraries

[2020-08-20 17:32] sameerag commented on #240
Thanks for bringing this to our notice. Will update once we arrive at a solution

[2020-09-09 07:22] entity opened #242 "Token Generation"
Hi all,

I'm currently new to the Azure space, I'm looking to integrate Azure Sign Sign-On for the company utilising NodeJS and Express (as shown in your example / demo), it works all fine but after a while I'd get;
[code]

How can I fix this, do I need to call another URL to change this, I've tried deleting their cookie and sending them back to login but seems to still not fix the state.

Thanks.

[2020-09-22 17:26] sameerag commented on #240
Started working on this, will have a PR up soon.

[2020-10-01 10:04] BernhardRode commented on #215
Same issue here

[2020-10-15 15:28] cameronstubber commented on #242
Im struggling with similar issues. Everything is working on my node/express app. but after 1 hour when the token expires I dont seem to be able to get a new one even though I send the call to get it.

[2020-10-15 15:36] entity commented on #242
I fixed the issue myself, I needed to generate a refresh token, though this was a mess to configure.

[2020-10-15 15:36] #242 closed, assigned to nobody

[2020-11-18 00:02] sameerag commented on #240
Final testing in progress, please track #243 for this. Currently up as a `draft`

[2020-12-28 10:22] garyfungwelab commented on #240
Hi, any update?

[2021-01-07 14:11] vinu-vrize commented on #240
hi @sameerag, is the PR ready to be merged. What's the latest update on the issue closure.

[2021-01-07 16:06] sameerag commented on #240
Update: We are running into some issues with the `nock` mocks for some `post` requests before the holidays. I just picked this up and working on resolving them. Will be opening one more PR and once it passes locally, will be merging both. Please expect an update soon.

[2021-01-11 10:35] sameerag commented on #240
Update: All nock issues are addressed except one use case where axios seems to make an exta NW call throwing the nock test off. However the PR is available now for review, will test this end to end for couple days and then plan a release.

[2021-01-31 19:25] ramya-rao-a opened #245 "Allow to specify scope when using device code authentication"
This issue is a follow up from https://github.com/Azure/azure-sdk-for-node/issues/5190 which was logged for the `ms-rest-azure` package which in turn uses the `adal-node` package for all the auth work

The above linked issue uses https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code#protocol-diagram as a reference and expects the ability of passing the scope when ma

[2021-01-31 21:38] tharaka86 opened #246 "CORS issue"
I have below code, which it now deployed to a azure app service (https://xxxx.azurewebsites.net/).

I have set the url in Redirect URIs under active directory app registration but get the below cors issue

Access to fetch at 'https://login.microsoftonline.com/xxxx.onmicrosoft.com/oauth2/token?api-version=1.0' from origin 'https://xxxx.azurewebsites.ne' has been blocked by CORS policy: No 'Access-C

[2021-02-01 09:29] #240 closed, assigned to sameerag

[2021-02-02 02:52] LoganStewart commented on #246
I get a similar issue but from localhost:3000

[2021-02-02 09:31] tharaka86 commented on #246
Yes same with me on localhost, that why i tried to deployed to see if it make any difference

[2021-02-04 17:45] hectormmg commented on #246
Hey @tharaka86 is this the same issue you described on our [MSAL repo](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2970)? If so, the reason here may be that your AAD app is configured as a SPA (which is classified as a Public Client applications) type and the Client Credential flow is only available to Confidential Clients.

[2021-02-06 09:14] Stono opened #249 "Cache is shared across instances of `AuthenticationContext`"
Please see my issue on https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/391 for more information including how to replicate.

At a summary level, it appears when you instantiate `new AuthenticationContext`, the `MemoryCache` is shared with all other `AuthenticationContext` instances, this is pretty bad / security issue in my opinion as you create a new authenticationContext but can

[2021-03-05 17:19] shsuman opened #252 "HTTP 500 Error using function createAuthenticationContext method."
We are Azure Machine Learning - Remote extension in VSCode team. We are using your package to acquire a bearer token from refresh token which is provided to us by another extension. Specifically, we are using createAuthenticationContext(authority: string, validateAuthority?: boolean) method to create an auth context. We had set the validateAuthority parameter to true until one of our customers tod

[2021-03-05 21:06] pkanher617 commented on #252
@shsuman Could you confirm the authority being used for this request? If the authority is not one of the ones [listed here](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/6bccc0ba3d8c90d5dea148c820b81e362385466e/lib/constants.js#L143) you will see the issues above. Setting `validateAuthority` to false will make it so that the authority does not get checked against the end

[2021-03-10 17:22] shsuman commented on #252
@pkanher617  How can the customer look into what their authority is ? Is there an easy way to do this without sending them a dev build ?

[2021-03-11 17:04] pkanher617 commented on #252
The authority url is whatever you sent to initialize the AuthenticationContext, the customer shouldn't need to look this up themselves.

[2021-03-12 18:42] shsuman commented on #252
@pkanher617 We are using the Azure Account extension to fetch the activeDirectoryEndpointUrl at runtime so we don't know this before hand.

Also, one question that our team had is Is there any security implication in disabling the authority validation ?

[2021-03-12 18:44] shsuman commented on #252
@pkanher617 We are using the Azure Account extension to fetch the activeDirectoryEndpointUrl at runtime so we don't know this before hand.

Also, one question that our team had is Is there any security implication in disabling the authority validation ?

[2021-03-18 06:46] shsuman commented on #252
Just a friendly reminder on the above questions.

[2021-03-19 22:43] sameerag commented on #129
We have addressed this in [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node) with the below snippet:

[code]

Closing.

[2021-03-19 22:43] #129 closed

[2021-03-19 22:46] sameerag commented on #215
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 22:46] #215 closed

[2021-03-19 22:50] sameerag commented on #219
@mkopacz
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is

[2021-03-19 22:50] #219 closed

[2021-03-19 22:52] sameerag commented on #226
@jeffwilcox

Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL

[2021-03-19 22:52] #226 closed, assigned to nobody

[2021-03-19 22:53] sameerag commented on #230
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 22:53] #230 closed, assigned to nobody

[2021-03-19 22:54] sameerag commented on #231
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 22:54] #231 closed, assigned to nobody

[2021-03-19 22:55] sameerag commented on #232
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 22:55] #232 closed, assigned to nobody

[2021-03-19 22:57] sameerag commented on #236
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 22:57] #236 closed, assigned to nobody

[2021-03-19 22:58] sameerag commented on #237
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 22:58] #237 closed, assigned to nobody

[2021-03-19 22:58] sameerag commented on #239
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 22:58] #239 closed, assigned to nobody

[2021-03-19 22:59] sameerag commented on #245
@ramya-rao-a Is this still an issue with msal-node?

[2021-03-19 22:59] sameerag commented on #245
Since ADAL is reaching end of life, as mentioned in the guidance, we would like to address any applicable issues on msal-node. Please give it a spin and let us know. If you are still facing an issue,  please feel free to open an issues against the new. repo.

[2021-03-19 22:59] #245 closed, assigned to nobody

[2021-03-19 23:00] #246 closed, assigned to nobody

[2021-03-19 23:01] sameerag commented on #249
Did you get a chance to migrate to [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)? We have a migration guide published [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#what-is-the-status-of-adal-node-is-a-migration-guide-available) which can help you do that.

Since ADAL is reaching

[2021-03-19 23:01] #249 closed, assigned to nobody

[2021-03-20 17:55] jeffwilcox commented on #226
@sameerag thanks, we were able to migrate, thanks.

[2021-04-29 22:13] jajens opened #255 "Security vulnerability for underscore"
Snyk published a low severity Arbitrary Code Injection vuln for any version of underscore below 1.13.0-2 or 1.12.1 on 3/29/21 which is picked up in our security scans for adal-node: https://snyk.io/vuln/SNYK-JS-UNDERSCORE-1080984

It looks like the current version of adal-node 0.2.2  is using version 1.9.1 of underscore.
    "underscore": {
      "version": "1.9.1",
      "resolved": "https://regi

[2021-04-29 22:26] jasonnutter commented on #255
@jajens First, we are in the process of moving the code for this library to the MSAL.js repo, where we have addressed this alert: https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/74de607ea41f416a06044746347ecfed08f135b3

Second, note that adal-node use `underscore@>= 1.3.1`, meaning when it is installed in your app, it will pick up the latest `1.x` version, so you can pick

[2021-04-29 22:31] jajens commented on #255
Thanks for the response, closing the issue.

[2021-04-29 22:31] #255 closed, assigned to nobody

[2021-05-07 05:13] Georift opened #258 "Arbitrary Code Execution in underscore"
When installing this package people will see a [high severity](https://github.com/advisories/GHSA-cf4h-3jhx-xvhq) vulnerability reported.

This issue should be resolved after #256 is merged.

[2021-05-07 05:14] Georift commented on #258
Ah I see you've already closed this issue here: #255

[2021-05-07 05:14] #258 closed, assigned to nobody

[2021-07-11 09:30] sindilevich opened #261 "Security vulnerability for uuid@3.x.x"
Currently, installing `adal-node@latest`, produces the following message:

Please upgrade to the latest version of `uuid` for better security/stronger random uuid's.

[2021-07-12 17:42] jasonnutter commented on #261
@sindilevich `Math.random` is only used by `uuid@3.x` in browser scenarios, which is out of scope for ADAL Node: https://github.com/uuidjs/uuid/blob/e2d731463b680c5b816d144f66feef902586410e/lib/rng-browser.js#L28

Furthermore, please consider updating to MSAL Node: https://www.npmjs.com/package/@azure/msal-node

Closing, as no further action needed.

[2021-07-12 17:42] #261 closed, assigned to nobody

[2021-07-12 19:30] sindilevich commented on #261
@jasonnutter, thank you for pointing out the real scope of the usage of `Math.random()` in `uuid@3.x.x`!

However, `adal-node` is a transitive dependency of many other libraries, such as `tedious`. Meaning projects wish to connect to an MS SQL server would install `adal-node` and produce a scaresome warning message about the need to upgrade to a newer version of `uuid`.

Since `uuid@3.x.x` is no r

[2021-07-13 20:57] miguel-orange opened #262 "Upgrade to uuid 7+"
Please upgrade to uuid version 7+.

`npm list uuid`
<img width="357" alt="Screen Shot 2021-07-13 at 1 55 25 PM" src="https://user-images.githubusercontent.com/13228659/125523623-20dbfdac-97e5-4f53-b1cb-d71bfdc0aded.png">

[2021-08-03 07:23] fella752 opened #263 "Issue in GetToken"
Not getting any response for /getToken
Able to login but error: No response from the server response: undefined

Error Stack: err:::: Error: No response from the server
    at Logger.createError (C:\Users\SPNAAS\Desktop\UTRSAPI\utrs-api\node_modules\adal-node\lib\log.js:216:13)
    at axios.then.catch (C:\Users\SPNAAS\Desktop\UTRSAPI\utrs-api\node_modules\adal-node\lib\oauth2client.js:507:26)

[2021-08-06 17:18] LandyCuadra opened #264 "acquireTokenWithUsernamePassword is returning http error 405"
hi, I am trying to use the power bi REST Api... but first I need a token from the azure app... but it is returning:

`Error: WS-Trust RST request returned http error: 405 and server response: ""`

I am using 'https://analysis.windows.net/powerbi/api' as scope, the email account as username (not sure about this one), it respective password, and the applicationId as clientId.

any help would be appr